*{
    margin:0;
    padding:0;
}

body{
    display:flex;
    justify-content:center;
    text-align:center;
    padding-top:100px;
    background:rgba(0, 0, 255, 0.453);
    
}

.container{
    height:400px;
    width:400px;
    background:white;
    border-radius:10px;
    box-shadow: 0px 10px 26px rgb(7, 20, 140);


}
.container h2 {
    height: 60px;
    font-size: 50px;
    color: rgb(5, 16, 114);
    background: rgba(18, 15, 236, 0.621);
    text-shadow: 0px 0px 10px rgba(10, 16, 21, 0.725); 
}

.count{
    background:rgba(18, 15, 236, 0.621);
    width:400px;
    height:250px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.show{
    background:rgba(18, 15, 236, 0.621);
    height:90px;
    width:400px;
}
#increase{
    height:50px;
    width:150px;
    border-radius:9px;
    background:green;
    font-size:20px;
     border:none;
     color:white;
}
#decrease{
     height:50px;
    width:150px;
    background:red;
    color:white;
    border:none;
    border-radius:9px;
    font-size:20px;
}
#increase:hover{
   cursor:pointer;
   box-shadow: 0px 10px 26px rgb(7, 20, 140);

}
#decrease:hover{
   cursor:pointer;
   box-shadow: 0px 10px 26px rgb(7, 20, 140);

}
#number-display{
   font-size:100px;
}
