
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 350px;
    width: 450px;
    box-shadow: 5px 5px 10px rgb(49, 66, 189);
    background: rgb(255, 255, 255);
    border-radius: 15px;
    overflow: hidden;
}

.top{
    display:inline-flex;
    width:450px;
    height:70px;
    background:rgba(255, 0, 0, 0.479);
     border-radius:5px
}
.logo{
    padding:8px;
    width:50px;
    height:60px;
    border-radius:50px;
}
.top h2 i{
     font-size:15px;
}
.card{
    width: 500px;
    padding: 10px;
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 80px;
    align-items: center;
}

.photo{
    width: 130px;
    height: 150px;
    border-radius: 10px;
}
.signature{
    display: flex;
    justify-content: space-around;
    padding: 2px;
}

.signature div{
    text-align: center;
}

.footer{
    background: rgba(255, 0, 0, 0.393);
    color: white;
    text-align: center;
    padding: 2px;
    font-size: 15px;
}
.sign{
    height:40px;
    width:200px;
}